:root {
    --primary-color: #354F52;
    --secondary-color: #52796F;
}
section.main{
    overflow-x:auto;
}
*{
    letter-spacing: 0.07em;
    margin:0;
    padding:0;
    box-sizing: border-box;
}
img {
    max-width: 100%;
}


/* 100 - Thin */

@font-face {
    font-family: 'Mulish';
    src: url('../font/Mulish-Thin.ttf') format('truetype');
    font-weight: 100;
    font-style: normal;
}


/* 200 - Extra Light */

@font-face {
    font-family: 'Mulish';
    src: url('../font/Mulish-ExtraLight.ttf') format('truetype');
    font-weight: 200;
    font-style: normal;
}


/* 300 - Light */

@font-face {
    font-family: 'Mulish';
    src: url('../font/Mulish-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}


/* 400 - Regular */

@font-face {
    font-family: 'Mulish';
    src: url('../font/Mulish-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}


/* 500 - Medium */

@font-face {
    font-family: 'Mulish';
    src: url('../font/Mulish-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}


/* 600 - SemiBold */

@font-face {
    font-family: 'Mulish';
    src: url('../font/Mulish-SemiBold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}


/* 700 - Bold */

@font-face {
    font-family: 'Mulish';
    src: url('../font/Mulish-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}


/* 800 - ExtraBold */

@font-face {
    font-family: 'Mulish';
    src: url('../font/Mulish-ExtraBold.ttf') format('truetype');
    font-weight: 800;
    font-style: normal;
}


/* 900 - Black */

@font-face {
    font-family: 'Mulish';
    src: url('../font/Mulish-Black.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
}

* {
    font-family: 'Mulish', sans-serif;
}

.text-justify {
    text-align: justify;
}
.menu-nav-list ul li a{
    line-height:1 !important;
}

.form-control:focus {
    color: #000 !important;
    background-color: #fff !important;
    border-color: var(--primary-color) !important;
    outline: 0;
    box-shadow: none !important;
}

.theme-btn {
    all: unset;
    padding: 10px 25px;
    cursor: pointer;
    border-radius: 5px;
    font-size: 15px;
    font-weight: 600;
    width: fit-content;
}
.theme-btn svg{
    margin-right:4px;
}

.theme-btn-dark {
    background-color: var(--primary-color);
    color: #fff;
    transition: 0.3s all ease;
    border: 1px solid var(--primary-color);
}

.theme-btn-dark:hover {
     transform:scale(1.03);
}

.theme-btn-light {
    background-color: var(--secondary-color);
    color: #fff;
}

.theme-heading {
    font-size: 48px !important;
    font-weight: 600;
    line-height: 1.5;
    color: var(--primary-color);
}

.theme-sub-heading {
    font-size: 21px !important;
    font-weight: 600;
    line-height: 1.2;
}
.menu-nav-list li a{
     font-size: 21px !important;
     font-weight: 600; 
    
}
 
 
.menu-nav-list ul li a,.theme-paragraph{
    font-size: 16px !important;
    font-weight: 400;
    line-height: 1.5;
}

.theme-header {
    font-size: 16px !important;
    font-weight: 400;
}

.theme-container {
    max-width: 1700px;
    width: 100%;
    margin: 0 auto;
    padding: 0 30px;
}

@media (max-width: 1650px) {
    .theme-container {
        max-width: 1600px;
    }
    .theme-heading {
        font-size: 40px !important;
    }
    .theme-paragraph,
    .menu-nav-list ul li a {
        font-size: 17px !important;
    }
    .theme-btn {
        font-size: 17px !important;
    }
    .theme-header {
        font-size: 15px !important;
    }
}


/* For screens ≤ 1500px */

@media (max-width: 1500px) {
    .theme-container {
        max-width: 1450px;
    }
    .theme-heading {
        font-size: 34px !important;
    }
    .menu-nav-list li a {
        font-size: 21px !important;
    }
    .theme-paragraph,
    .menu-nav-list ul li a {
        font-size: 16px !important;
    }
    .theme-btn {
        font-size: 16px !important;
    }
    .theme-header {
        font-size: 14px !important;
    }
}


/* For screens ≤ 1400px */

@media (max-width: 1400px) {
    .theme-container {
        padding: 0 30px;
    }
    .theme-heading {
        font-size: 30px !important;
    }
    .theme-paragraph,
    .menu-nav-list ul li a {
        font-size: 14px !important;
    }
    .theme-btn {
        font-size: 14px !important;
    }
    .theme-header {
        font-size: 14px !important;
    }
}


/* For screens ≤ 768px (mobile) */

@media (max-width: 768px) {
    .theme-container {
        padding: 0 15px;
    }
    .theme-heading {
        font-size: 24px !important;
    }
    .theme-paragraph, 
    .menu-nav-list ul li a {
        font-size: 14px !important;
    }
    .theme-btn {
        font-size: 14px !important;
    }
    .theme-header {
        font-size: 13px !important;
    }
}

@media (max-width: 500px) {
    .theme-container {
        padding: 0 10px;
    }
    .theme-header {
        font-size: 10px !important;
    }
}

@media(max-width:370px) {
    .theme-header {
        font-size: 8px !important;
    }
}